*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  background-image: url("images/space2.jpg");
  background-repeat: no-repeat;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

p {
  font-weight: 300;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

h4 {
  font-size: 1.25rem;
}

.fw-300 {
  font-weight: 300;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}

.text-yellow {
  color: #ffcc00;
}

.text-blue {
  color: #080527;
}

.hidden {
  display: none;
  visibility: hidden;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header */

header {
  background: url("https://pabitrabanerjee.me/Our-Solar-System/images/space.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  overflow: hidden;
  /* padding-top: 5em; */
}

/* navbar */

.hamburger-menu,
.mobileMenu {
  display: none;
}

nav {
  height: 4em;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 30;
  background-color: transparent;
}

.nav-list {
  width: 55%;
  display: grid;
  grid-template: 100% / repeat(4, 1fr);
  place-items: end;
}

nav a {
  color: #fff;
  font-size: 1.15rem;
  font-weight: 300;
}

.nav-link:hover,
.planets-dropdown:hover {
  color: #ffcc00;
}

.planets-dropdown {
  color: #fff;
  position: relative;
  font-size: 1.15em;
  cursor: pointer;
}

details ul {
  position: absolute;
  list-style-type: none;
  background-color: #000;
  padding: 0.5;
  z-index: 15;
}

details ul li {
  padding: 1em 3em;
  border-bottom: 1px solid #ffffff3a;
  cursor: pointer;
  position: relative;
}

.logo {
  font-size: 1.5rem;
}

details ul li:before {
  content: "";
  position: absolute;
  left: 10%;
  bottom: 20%;
  width: 0;
  height: 0.15px;
  background: #ffcc00;
  transition: all 750ms ease-in-out;
}

details ul li .fa-shuttle-space {
  position: absolute;
  left: 5%;
  bottom: 5%;
  font-size: 1.25rem;
  transition: all 750ms ease-in-out;
}

details ul li:hover .nav-link {
  color: #ffcc00;
}

details ul li:hover:before {
  width: 70%;
}

details ul li:hover .fa-shuttle-space {
  color: #ffcc00;
  left: 80%;
}

/* carousel */

.carousel {
  height: 100vh;
  position: relative;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template: 100% / 1.25fr 1.5fr;
  place-items: center;
  display: none;
}

.prev,
.next {
  position: absolute;
  font-size: 1.65rem;
  color: #fff;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  padding: 0.5em;
  background-color: #121212;
  z-index: 5;
  user-select: none;
}

.prev {
  left: 1em;
}

.next {
  right: 1em;
}

.description {
  color: #fff;
  width: 80%;
  justify-self: end;
}

.slideUp {
  animation: slideUp 1s ease-in-out 1;
  animation-fill-mode: forwards;
}

@keyframes slideUp {
  0% {
    opacity: 0;
    margin-top: 6em;
  }

  100% {
    opacity: 1;
    margin-top: 0;
  }
}

.sub-title {
  font-style: italic;
}

.content {
  margin-top: 1.5em;
}

.stage {
  width: 600px;
  height: 600px;
  display: inline-block;
  margin: 20px;
  -webkit-perspective: 1200px;
  -moz-perspective: 1200px;
  -ms-perspective: 1200px;
  -o-perspective: 1200px;
  perspective: 1200px;
  -webkit-perspective-origin: 50% 50%;
  -moz-perspective-origin: 50% 50%;
  -ms-perspective-origin: 50% 50%;
  -o-perspective-origin: 50% 50%;
  perspective-origin: 50% 50%;
  align-self: end;
}

/* planets */

.planet {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  border-radius: 50%;
  position: relative;
}

.planet:before {
  content: "";
  position: absolute;
  top: 1%;
  left: 5%;
  width: 90%;
  height: 90%;
  border-radius: 50%;
  background: radial-gradient(
    circle at 50% 0px,
    #ffffff,
    rgba(255, 255, 255, 0) 30%
  );
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: 2;
  animation: reveal 1.5s linear 1;
}

@keyframes reveal {
  0%,
  99% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.venus {
  background: url("images/venus.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -8px 15px rgba(199, 152, 113, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowVenus 1.5s linear 1;
}

.mercury {
  background: url("images/mercury.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -10px 15px rgba(117, 66, 25, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowMercury 1.5s linear 1;
}

.earth {
  background: url("images/earth.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -10px 15px rgba(94, 136, 190, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowEarth 1.5s linear 1;
}

.mars {
  background: url("images/mars.png") no-repeat;
  background-size: 100%;
  box-shadow: -3px -10px 15px rgba(238, 75, 43, 0.7),
    -50px -50px 50px #000 inset, 0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowMars 1.5s linear 1;
}

.jupiter {
  background: url("images/jupiter.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -8px 15px rgba(199, 152, 113, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowVenus 1.5s linear 1;
}

.saturn {
  display: inline-block;
  width: 100%;
  height: 100%;
  margin: 0;
  position: relative;
  background: url("images/saturn.png") no-repeat;
  background-size: 100%;
  animation: rotate 1.5s ease-in 1;
}

.uranus {
  background: url("images/uranus.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -10px 15px rgba(94, 136, 190, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowEarth 1.5s linear 1;
}

.neptune {
  background: url("images/neptune.png") no-repeat;
  background-size: 100%;
  box-shadow: 0 -10px 15px rgba(94, 136, 190, 0.5), -50px -50px 50px #000 inset,
    0 10px 15px #000;
  animation: rotate 1.5s ease-in 1, shadowEarth 1.5s linear 1;
}

/* planet-information */

.planet-info {
  color: #fff;
  background-size: cover;
  display: none;
  padding: 5em 0;
  scroll-margin-top: 3em;
}

.planet-info-grid {
  display: grid;
  grid-template: repeat(4, 450px) / repeat(2, 1fr);
}

img {
  position: absolute;
  height: 75%;
  object-fit: cover;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

/* solar system */

.solar-system-container {
  height: 90vh;
  padding: 1em 0;
  scroll-margin-top: 3em;
  position: relative;
}

.blob {
  position: absolute;
  top: 5%;
  left: 5%;
  background: rgb(3, 14, 136);
  border-radius: 50%;
  box-shadow: 0 0 0 0 rgba(16, 209, 223, 1);
  height: 3.5em;
  width: 3.5em;
  transform: scale(1);
  animation: pulse-cyan 2s infinite;
  display: grid;
  place-items: center;
  color: #fff;
  z-index: 15;
  cursor: pointer;
}

.blob:before {
  content: "Click on a Planet Thumbnail below to view its facts";
  position: absolute;
  color: #fff;
  font-size: 0.75rem;
  left: 150%;
  width: 15em;
  padding: 1em 0.5em;
  border-radius: 1em;
  text-align: center;
  background-color: #080527;
  opacity: 0;
}

.blob:hover:before {
  opacity: 1;
}

@keyframes pulse-cyan {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(16, 209, 223, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(16, 209, 223, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(16, 209, 223, 0);
  }
}

.solar-system {
  height: 85vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
  overflow: hidden;
  margin-top: 1em;
}

.orbit-lines {
  position: absolute;
  border-radius: 50%;
  border: 1px solid rgba(78, 74, 74, 0.6);
  left: -10em;
  top: 50%;
  transform: translateY(-50%);
}

.mercury-line {
  width: 33.75%;
  height: 32%;
}

.venus-line {
  width: 41.5%;
  height: 44%;
}

.earth-line {
  width: 50%;
  height: 50%;
}

.mars-line {
  width: 58.5%;
  height: 60%;
}

.jupiter-line {
  width: 70%;
  height: 70%;
}

.saturn-line {
  width: 82%;
  height: 80%;
}

.uranus-line {
  width: 93.5%;
  height: 90%;
}

.neptune-line {
  width: 103.5%;
  height: 100%;
}

.solar-sun,
.solar-mercury,
.solar-venus,
.solar-earth,
.solar-mars,
.solar-jupiter,
.solar-saturn,
.solar-uranus,
.solar-neptune {
  position: relative;
  cursor: pointer;
  filter: drop-shadow(0 2em 1em #0a035348);
}

.solar-sun {
  width: 11.5em;
  height: 11.5em;
}

.solar-mercury {
  width: 1.875em;
  height: 1.875em;
}

.solar-venus {
  width: 2.85em;
  height: 2.85em;
}

.solar-earth {
  width: 4em;
  height: 4em;
}

.solar-mars {
  width: 3.5em;
  height: 3.5em;
}

.solar-jupiter {
  width: 7.5em;
  height: 7.5em;
}

.solar-saturn {
  width: 7.25em;
  height: 7.25em;
}

.solar-uranus {
  width: 5em;
  height: 5em;
}

.solar-neptune {
  width: 4.35em;
  height: 4.35em;
}